/* add by 张世杰 2015.11.28  email:406358964@qq.com */
* {
	-webkit-touch-callout:none;
	-khtml-touch-callout:none;
	-moz-touch-callout:none;
	-ms-touch-callout:none;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
}
body {
	padding:0px;
	margin:0px;
	background-color:#f5f5f5;
	-webkit-tap-highlight-color: transparent; /* 禁止某个标签出现蓝色焦点(区块) */
	-webkit-touch-callout:none;  /* 禁止长按 */
}
.head {
	background-color:#00b4e6;
}
.top {
	background-color:#00b4e6;
	float:left;
	width:96%;
	padding-left:2%;
	padding-right:2%;
	padding-top:0.5%;
	padding-bottom:1%;
}
.back {
	float:left;
	width:5%;
	padding-left:3%;
	padding-right:3%;
	padding-top:3%;
}
.title {
	float:left;
	width:76%;
	color:#feffff;
	font-size:1.2em;
	text-align:center;
	padding-top:4%;
}
.down {
	float:right;
	width:7%;
	padding-left:3%;
	padding-right:3%;
	padding-top:3%;
}
.status {
	width:98%;
	text-align:center;
	color:#bfedf9;
	padding-bottom:3%;
	padding-right:2%;
}
.white {
	width:90%;
	padding:5%;
}	
.leftWhite {
	width:78%;
	float:left;
}
.rightWhite {
	width:8%;
	float:left;
}
.menu {
	width:15%;
	float:right;
	padding-right:10%;
	padding-bottom:4%;
}
.controller {
	width:76%;
	float:center;
	padding:12%;
	text-align:center;
}
.size {
	width:300px;
}
.img {
	float:left;
	border:0px;
	padding:0px;
	margin:0px;
	-webkit-touch-callout: none;
}	
img {
	border:0px;
	padding:0px;
	margin:0px;
	float:left;
	-webkit-touch-callout: none;
	-webkit-user-select: none; 
}
.img3 {
	top:5px;
}
/* 响应式布局 */
	@media (max-width: 350px) {
		.controller {
			padding:7%;
			width:55%;
		}
	}
	@media (min-width: 400px) {
		.controller {
			padding:17%;
			width:70%;
		}
	}
	@media (min-width: 450px) {
		.controller {
			padding:20%;
			width:70%;
		}
		.menu {
			width:13%;
		}
	}
	@media (min-width: 500px) {
		.controller {
			padding:23%;
			width:70%;
		}
	}
	@media (min-width: 550px) {
		.controller {
			padding:26%;
			width:70%;
		}
		.menu {
			width:11%;
		}
	}
	@media (min-width: 600px) {
		.controller {
			padding:29%;
			width:42%;
		}
	}
	@media (min-width: 650px) {
		.controller {
			padding:32%;
			width:36%;
		}
		.menu {
			width:9%;
		}
	}
	@media (min-width: 700px) {
		.controller {
			padding:35%;
			width:30%;
			margin-top:-20%;
		}
		.menu {
			width:7%;
		}
		.back {
			width:3%;
		}
		.down {
			width:4.5%;
		}
		.menu {
			width:5%;
		}
		.title {
			width:80%;
		}
	}
	@media (min-width: 1000px) {
		.controller {
			padding:38%;
			width:24%;
			margin-top:-25%;
		}
	}
	@media (min-width: 1500px) {
		.controller {
			padding:45%;
			width:10%;
			margin-top:-35%;
		}
		.back {
			width:2%;
		}
		.down {
			width:3%;
		}
		.title {
			width:81.5%;
		}
	}
