/* ========================================================================= */
/* html5 智能插座安装css布局*/
/* add by Jameskid 2015.11.28  email:406358964@qq.com */
/* 注意事项:　 
 *			   1. 本代码基于html5,请使用支持html5内核的浏览器
 *			   2. 禁止修改本css代码，否则由此引发的布局错误，不提供维护,
 *				  如必须修改，请联系本代码开发员
 *				  
 * 禁止修改本文件
 * 
 * 禁止修改本文件
 *
 * ========================================================================= */
* {
	-webkit-touch-callout:none;
	-khtml-touch-callout:none;
	-moz-touch-callout:none;
	-ms-touch-callout:none;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
}
a:hover {
	color:#ffffff;
	text-decoration:none;
}
a:visited {
	color:#ffffff;
	text-decoration:none;
}
a:link {
	color:#ffffff;
	text-decoration:none;
}
body {
	padding:0px;
	margin:0px;
	background-color:#ffffff;
	-webkit-tap-highlight-color: transparent; /* 禁止某个标签出现蓝色焦点(区块) */
	-webkit-touch-callout:none;  /* 禁止长按 */
}
.head {
	background-color:#00b4e6;
	float:left;
	width:100%;
	margin-bottom:2%;
}
.top {
	background-color:#00b4e6;
	float:left;
	width:96%;
	padding-left:2%;
	padding-right:2%;
}
.content {
	padding:1%;
	width:98%;
	float:left;
	font-size:0.9em;
}
.title {
	float:left;
	width:94%;
	padding:3%;
	text-align:center;
	color:#ffffff;
	font-size:1.2em;
}
.point {
	color:#3f3f3f;
	padding:3%;
}
.tipsImg {
	float:left;
	width:80%;
	padding-left:10%;
	padding-right:10%;
	padding-top:4%;
	padding-bottom:4%;
}

.foot {
	float:left;
	width:94%;
	margin-left:3%;
	margin-right:3%;
	margin-top:8%;
	padding-top:3%;
	padding-bottom:3%;
	background-color:#00b4e6;
	text-align:center;
	color:#ffffff;
	border-radius:3px;
}
@media (min-width: 500px) {
	.content {
		padding-left:10%;
		padding-right:10%;
		width:80%;
	}
	.foot {
		margin-left:10%;
		margin-right:10%;
		width:80%;
	}
	.tipsImg {
		padding-top:5%;
		padding-bottom:5%;
		width:70%;
		padding-left:15%;
		padding-right:15%;
	}
}
@media (min-width: 700px) {
	.content {
		padding-left:15%;
		padding-right:15%;
		width:70%;
	}
	.foot {
		margin-left:15%;
		margin-right:15%;
		width:70%;
		padding-top:2.5%;
		padding-bottom:2.5%;
	}
	.tipsImg {
		padding-top:3%;
		padding-bottom:3%;
		width:60%;
		padding-left:20%;
		padding-right:20%;
	}
	.title {
		padding-top:3%;
		padding-bottom:3%;
	}
}
@media (min-width: 900px) {
	.content {
		padding-left:20%;
		padding-right:20%;
		width:60%;
	}
	.foot {
		margin-left:20%;
		margin-right:20%;
		width:60%;
		padding-top:2%;
		padding-bottom:2%;
	}
	.tipsImg {
		padding-top:1%;
		padding-bottom:1%;
		width:50%;
		padding-left:25%;
		padding-right:25%;
	}
	.title {
		padding-top:2%;
		padding-bottom:2%;
	}
}
@media (min-width: 1100px) {
	.content {
		padding-left:25%;
		padding-right:25%;
		width:50%;
	}
	.foot {
		margin-left:25%;
		margin-right:25%;
		width:50%;
		padding-top:1.5%;
		padding-bottom:1.5%;
	}
	.tipsImg {
		padding-top:1%;
		padding-bottom:1%;
		width:44%;
		padding-left:28%;
		padding-right:28%;
	}
}
@media (min-width: 1700px) {
	.content {
		padding-left:30%;
		padding-right:30%;
		width:40%;
	}
	.foot {
		margin-left:30%;
		margin-right:30%;
		width:40%;
		padding-top:1.5%;
		padding-bottom:1.5%;
	}
	.tipsImg {
		padding-top:1%;
		padding-bottom:1%;
		width:40%;
		padding-left:30%;
		padding-right:30%;
	}
}
