* {
	-webkit-touch-callout:none;
	-khtml-touch-callout:none;
	-moz-touch-callout:none;
	-ms-touch-callout:none;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
}
body {
	padding:0px;
	margin:0px;
	background-color:#f5f5f5;
	// -webkit-tap-highlight-color:rgba(0,0,0,0); /*　禁止某个标签出现蓝色焦点(区块) */
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout:none;  /* 禁止长按 */
}
.head {
	background-color:#00b4e6;
}
.top {
	background-color:#00b4e6;
	float:left;
	width:90%;
	padding-left:5%;
	padding-right:5%;
	padding-top:3%;
	padding-bottom:1%;
}
.back {
	float:left;
	width:5%;
}
.title {
	float:left;
	width:88%;
	color:#feffff;
	font-size:1.2em;
	text-align:center;
	padding-top:0.5%;
}
.down {
	float:right;
	width:7%;
}
.status {
	width:98%;
	text-align:center;
	color:#bfedf9;
	padding-bottom:3%;
	padding-right:2%;
}
.white {
	width:84%;
	padding:7%;
}	
.leftWhite {
	width:78%;
	float:left;
}
.menu {
	width:15%;
	float:right;
	padding-right:10%;
}
.controller {
	width:76%;
	float:center;
	padding:12%;
	text-align:center;
}
.size {
	width:300px;
}
.img {
	//background-image:url('images/jdh_up_01.jpg');
	float:left;
	border:0px;
	padding:0px;
	margin:0px;
	-webkit-touch-callout: none;
}	
img {
	border:0px;
	padding:0px;
	margin:0px;
	float:left;
	-webkit-touch-callout: none;
	//pointer-events: auto;  //禁止长按弹出查看图片,保存图片
	-webkit-user-select: none; 
}
.img3 {
	top:5px;
}

