/* add by 张世杰 2015.11.28  email:406358964@qq.com */
* {
	-webkit-touch-callout:none;
	-khtml-touch-callout:none;
	-moz-touch-callout:none;
	-ms-touch-callout:none;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
}
body {
	padding:0px;
	margin:0px;
	background-color:#f5f5f5;
	-webkit-tap-highlight-color: transparent; /* 禁止某个标签出现蓝色焦点(区块) */
	-webkit-touch-callout:none;  /* 禁止长按 */
}
.head {
	background-color:#00b4e6;
}
.top {
	background-color:#00b4e6;
	float:left;
	width:96%;
	padding-left:2%;
	padding-right:2%;
	padding-top:0.5%;
	padding-bottom:1%;
}
.back {
	float:left;
	width:5%;
	padding-left:3%;
	padding-right:3%;
	padding-top:3%;
}
.title {
	float:left;
	width:76%;
	color:#feffff;
	font-size:3.5em;
	text-align:center;
	padding-top:4%;
	font-family: arial;
	font-weight:100;
}
#mark {
	font-size:0.5em;
	font-weight:100;
}

.down {
	float:right;
	width:7%;
	padding-left:3%;
	padding-right:3%;
	padding-top:3%;
}
.status {
	width:98%;
	text-align:center;
	color:#bfedf9;
	padding-bottom:3%;
	padding-right:2%;
}
.content {
	width:90%;
	float:left;
	padding:5%;

}
.control {
	float:left;
	width:100%;	
}
.button {
	float:left;
	width:20%;
	margin-left:6.6%;
	margin-right:6.6%;
	padding-bottom:4%;
}
img {
	border:0px;
	padding:0px;
	margin:0px;
	float:left;
	-webkit-touch-callout: none;
	-webkit-user-select: none; 
	z-index:-1;
}
.tempControl {
	float:left;
	width:100%;	
}
.minus {
	width:12%;
	float:left;
	background-color:#f5f5f5;
	//position:relative;
	font-size:1.5em;
	border-radius:50px;
	padding-top:1%;
	padding-bottom:1%;
	border:solid #aaaaaa 1px;
	text-align:center;
	color:#aaaaaa;
	margin-top:25%;
	margin-left:8%;
	z-index:999;
	position:relative;
}
.plus {
	width:12%;
	float:left;
	background-color:#f5f5f5;
	font-size:1.5em;
	border-radius:50px;
	padding-top:1%;
	padding-bottom:1%;
	border:solid #00b4e6 1px;
	text-align:center;
	color:#00b4e6;
	margin-top:24%;
	margin-left:57%;
	z-index:999;
	position:relative;
}
.tempNumber {
	background-color:#ffffff;
	color:#00b4e6;
	float:left;
	width:14%;
	border-radius:50px;
	padding-top:3.5%;
	padding-bottom:3.5%;
	border:solid #00b4e6 1px;
	font-size:1em;
	position:relative;
	text-align:center;
	z-index:1;
	margin-top:13%;
	margin-left:-1%;
}
.line {
	width:70%;
	margin-left:15%;
	margin-right:15%;
	margin-top:-32%;
	float:left;
	z-index:1;
}
/* 响应式布局 */
@media (min-width: 350px) {
	.plus {
		padding-top:1.5%;
		padding-bottom:1.5%;
	}
	.minus {
		padding-top:1.5%;
		padding-bottom:1.5%;
	}
}
@media (min-width: 400px) {
	.plus {
		padding-top:2.1%;
		padding-bottom:2.1%;
	}
	.minus {
		padding-top:2.1%;
		padding-bottom:2.1%;
	}
}
@media (min-width: 450px) {
	.plus {
		padding-top:2.5%;
		padding-bottom:2.5%;
	}
	.minus {
		padding-top:2.5%;
		padding-bottom:2.5%;
	}
}
@media (min-width: 500px) {
	.plus {
		padding-top:2.8%;
		padding-bottom:2.8%;
		font-size:1.7em;
	}
	.minus {
		padding-top:2.8%;
		padding-bottom:2.8%;
		font-size:1.7em;
	}
}
@media (min-width: 550px) {
	.plus {
		padding-top:3.1%;
		padding-bottom:3.1%;
	}
	.minus {
		padding-top:3.1%;
		padding-bottom:3.1%;
	}
}
@media (min-width: 600px) {
	.plus {
		padding-top:3.2%;
		padding-bottom:3.2%;
		font-size:1.8em;
	}
	.minus {
		padding-top:3.2%;
		padding-bottom:3.2%;
		font-size:1.8em;
	}
}




