/* add by 张世杰 2015.11.28  email:406358964@qq.com */
/* 字体引用 */
@font-face { 
	font-family: HelveticaNeue-UltraLight; /*这里是说明调用来的字体名字*/ 
	src: url('HelveticaNeue-UltraLight.otf'); /*这里是字体文件路径*/ 
} 
/* 正文内容 */
* {
	-webkit-touch-callout:none;
	-khtml-touch-callout:none;
	-moz-touch-callout:none;
	-ms-touch-callout:none;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
}
body {
	padding:0px;
	margin:0px;
	background-color:#f5f5f5;
	-webkit-tap-highlight-color: transparent; /* 禁止某个标签出现蓝色焦点(区块) */
	-webkit-touch-callout:none;  /* 禁止长按 */
}
.head {
	background-color:#00b4e6;
}
.top {
	background-color:#00b4e6;
	float:left;
	width:96%;
	padding-left:2%;
	padding-right:2%;
	padding-top:0.5%;
	padding-bottom:1%;
}
.back {
	float:left;
	width:5%;
	padding-left:3%;
	padding-right:3%;
	padding-top:3%;
}
.title {
	float:left;
	width:66%;
	color:#feffff;
	font-size:3.5em;
	text-align:center;
	padding-top:4%;
	padding-left:10%;
	font-family: HelveticaNeue-UltraLight;
	font-weight:300;
}
.mark {
	font-size:0.6em;
	font-weight:100;
	left:-35px;
	position:relative;
}
.degree {
	font-size:0.6em;
	font-weight:100;
	position:relative;
	top:-16px;
	left:-15px;
}

.down {
	float:right;
	width:7%;
	padding-left:3%;
	padding-right:3%;
	padding-top:3%;
}
.status {
	width:100%;
	text-align:center;
	color:#bfedf9;
	padding-bottom:3%;
}
.content {
	width:90%;
	float:left;
	padding:5%;

}
.control {
	float:left;
	width:100%;	
}
.button {
	float:left;
	width:20%;
	margin-left:6.6%;
	margin-right:6.6%;
	padding-bottom:4%;
}
img {
	border:0px;
	padding:0px;
	margin:0px;
	float:left;
	-webkit-touch-callout: none;
	-webkit-user-select: none; 
	z-index:-1;
}
.tempControl {
	float:left;
	width:100%;	
}
.minus {
	width:12%;
	float:left;
	background-color:#f5f5f5;
	//position:relative;
	font-size:1.5em;
	border-radius:50px;
	padding-top:1%;
	padding-bottom:1%;
	border:solid #aaaaaa 1px;
	text-align:center;
	color:#aaaaaa;
	margin-top:25%;
	margin-left:8%;
	z-index:999;
	position:relative;
}
.plus {
	width:12%;
	float:left;
	background-color:#f5f5f5;
	font-size:1.5em;
	border-radius:50px;
	padding-top:1%;
	padding-bottom:1%;
	border:solid #00b4e6 1px;
	text-align:center;
	color:#00b4e6;
	margin-top:24%;
	margin-left:57%;
	z-index:999;
	position:relative;
}
.tempNumber {
	background-color:#ffffff;
	color:#00b4e6;
	float:left;
	width:14%;
	border-radius:50px;
	padding-top:3.5%;
	padding-bottom:3.5%;
	border:solid #00b4e6 1px;
	font-size:1em;
	position:relative;
	text-align:center;
	z-index:1;
	margin-top:13%;
	margin-left:-1%;
}
.line {
	width:70%;
	margin-left:15%;
	margin-right:15%;
	margin-top:-32%;
	float:left;
	z-index:1;
}
/* 响应式布局 */
@media (min-width: 350px) {
	.plus {
		padding-top:1.5%;
		padding-bottom:1.5%;
	}
	.minus {
		padding-top:1.5%;
		padding-bottom:1.5%;
	}
}
@media (min-width: 400px) {
	.plus {
		padding-top:2.1%;
		padding-bottom:2.1%;
	}
	.minus {
		padding-top:2.1%;
		padding-bottom:2.1%;
	}
}
@media (min-width: 450px) {
	.plus {
		padding-top:2.5%;
		padding-bottom:2.5%;
	}
	.minus {
		padding-top:2.5%;
		padding-bottom:2.5%;
	}
}
@media (min-width: 500px) {
	.plus {
		padding-top:2.8%;
		padding-bottom:2.8%;
		font-size:1.7em;
	}
	.minus {
		padding-top:2.8%;
		padding-bottom:2.8%;
		font-size:1.7em;
	}
}
@media (min-width: 550px) {
	.plus {
		padding-top:3.1%;
		padding-bottom:3.1%;
	}
	.minus {
		padding-top:3.1%;
		padding-bottom:3.1%;
	}
}
@media (min-width: 600px) {
	.plus {
		padding-top:3.2%;
		padding-bottom:3.2%;
		font-size:1.8em;
	}
	.minus {
		padding-top:3.2%;
		padding-bottom:3.2%;
		font-size:1.8em;
	}
}
@media (min-width: 650px) {
	.plus {
		padding-top:3.2%;
		padding-bottom:3.2%;
		font-size:1.8em;
	}
	.minus {
		padding-top:3.2%;
		padding-bottom:3.2%;
		font-size:1.8em;
	}
}
@media (min-width: 700px) {
	.button {
		margin-left:10%;
		margin-right:10%;
		width:13%;
	}
	.tempControl {
		width:60%;
		padding-left:20%;
		padding-right:20%;
	}
	.plus {
		padding-top:2%;
		padding-bottom:2%;
	}
	.minus {
		padding-top:2%;
		padding-bottom:2%;
	}
}
@media (min-width: 800px) {
	.plus {
		padding-top:2.5%;
		padding-bottom:2.5%;
	}
	.minus {
		padding-top:2.5%;
		padding-bottom:2.5%;
	}
}
@media (min-width: 900px) {
	.plus {
		padding-top:3%;
		padding-bottom:3%;
	}
	.minus {
		padding-top:3%;
		padding-bottom:3%;
	}
}
@media (min-width: 900px) {
	.plus {
		padding-top:3%;
		padding-bottom:3%;
	}
	.minus {
		padding-top:3%;
		padding-bottom:3%;
	}
}
@media (min-width: 1100px) {
	.button {
		margin-left:12.5%;
		margin-right:12.5%;
		width:8%;
	}
	.tempControl {
		width:50%;
		padding-left:25%;
		padding-right:25%;
	}
	.plus {
		padding-top:2.8%;
		padding-bottom:2.8%;
	}
	.minus {
		padding-top:2.8%;
		padding-bottom:2.8%;
	}
}
@media (min-width: 1300px) {
	.button {
		margin-left:13.5%;
		margin-right:13.5%;
		width:6%;
	}
	.tempControl {
		width:30%;
		padding-left:35%;
		padding-right:35%;
	}
	.plus {
		padding-top:1.7%;
		padding-bottom:1.7%;
	}
	.minus {
		padding-top:1.7%;
		padding-bottom:1.7%;
	}
}
@media (min-width: 1600px) {
	.button {
		margin-left:13.5%;
		margin-right:13.5%;
		padding-bottom:2%;
		width:6%;
	}
	.tempControl {
		width:30%;
		padding-left:35%;
		padding-right:35%;
	}
	.plus {
		padding-top:2%;
		padding-bottom:2%;
	}
	.minus {
		padding-top:2%;
		padding-bottom:2%;
	}
}




