/* ========================================================================= */
/* html5 引导页css布局*/
/* add by Jameskid 2015.12.7  email:406358964@qq.com */
/* 注意事项:　 
 *			   1. 本代码基于html5,请使用支持html5内核的浏览器
 *			   2. 禁止修改本css代码，否则由此引发的布局错误，不提供维护,
 *				  如必须修改，请联系本代码开发员
 *				  
 * 禁止修改本文件
 * 
 * 禁止修改本文件
 *
 * ========================================================================= */
/* 正文内容 */
* {
	-webkit-touch-callout:none;
	-khtml-touch-callout:none;
	-moz-touch-callout:none;
	-ms-touch-callout:none;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
}
body {
	padding:0px;
	margin:0px;
	background-color:#f5f5f5;
	-webkit-tap-highlight-color: transparent; /* 禁止某个标签出现蓝色焦点(区块) */
	-webkit-touch-callout:none;  /* 禁止长按 */
}
.head {
	background-color:#00b4e6;
}
.top {
	background-color:#00b4e6;
	float:left;
	width:96%;
	padding-left:2%;
	padding-right:2%;
	padding-top:0.5%;
	padding-bottom:3%;
}
.back {
	float:left;
	width:5%;
	padding-left:3%;
	padding-right:3%;
	padding-top:3%;
}
.title {
	float:left;
	width:76%;
	color:#feffff;
	font-size:1.2em;
	text-align:center;
	padding-top:3%;
}
.down {
	float:right;
	width:7%;
	padding-left:3%;
	padding-right:3%;
	padding-top:3%;
}
.condition {
	float:left;
	color:#8b8b8b;
	width:96%;
	background-color:#f5f5f5;
	padding-top:2%;
	padding-bottom:2%;
	padding-left:4%;
	font-size:0.8em;
}
.list {
	background-color:#ffffff;
}
.listCell {
	background-color:#ffffff;
	float:left;
	width:100%;
	border-top:1px solid #f5f5f5;
}
.leftImg {
	background-color:#ffffff;
	float:left;
	width:13%;
	padding-left:5%;
	padding-top:3%;
	padding-bottom:3%;
	padding-right:2%;
}
.wenzi {
	background-color:#ffffff;
	float:left;
	width:47%;
	padding:3%;
	padding-left:8%;
}
.deviceName {
	color:#454545;
}
.nowStatus {
	color:#8b8b8b;
	padding-top:3%;
	font-size:0.8em;
}
.onOff {
	background-color:#ffffff;
	float:left;
	width:19%;
	padding-left:3%;
	padding-right:5%;
	padding-top:6%;
}
.foot {
	float:left;
	width:94%;
	margin-left:3%;
	margin-right:3%;
	margin-top:8%;
	margin-bottom:5%;
	padding-top:3%;
	padding-bottom:3%;
	background-color:#00b4e6;
	text-align:center;
	color:#ffffff;
	border-radius:3px;
	position:fixed;
	bottom:0px;
}
@media (min-width: 450px) {
	.deviceName {
		font-size:1.2em;
	}
	.nowStatus {
		font-size:0.8em;
	}
}
@media (min-width: 550px) {
	.deviceName {
		font-size:1.6em;
	}
	.nowStatus {
		font-size:1.2em;
	}
}
@media (min-width: 800px) {
	.top {
		padding-top:8%;
		padding-bottom:8%;
	}
	.listCell {
		width:80%;
		padding-left:10%;
		padding-right:10%;
	}
}
@media (min-width: 1000px) {
	.listCell {
		width:60%;
		padding-left:20%;
		padding-right:20%;
	}
}
@media (min-width: 1300px) {
	.listCell {
		width:50%;
		padding-left:25%;
		padding-right:25%;
	}
}
@media (min-width: 1600px) {
	.listCell {
		width:40%;
		padding-left:30%;
		padding-right:30%;
	}
}



